.draggable
{
    background-color: var(--app-bg);
    color: white;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    margin-right: 10px;

    transition: transform 0.2s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

.draggable:hover
{
    border: 2px solid var(--action-color-hover);
    transform: scale(1.02); /* 약간 확대 */
}

.round-edge
{
    border-radius: 10px;
}